<h1>{{ title }}</h1>

<h2>Variable usage</h2>
<label>Username:</label>
<input [(ngModel)]="username" />

<label>Email:</label>
<input [(ngModel)]="email" />

<label>Password:</label>
<input [(ngModel)]="password" />
<div>
  <button (click)="submitVariables()" [disabled]="password?.length < 4">
    Submit
  </button>
</div>

<h2>Reactive form usage</h2>
<form [formGroup]="form">
  <label>Username:</label>
  <input formControlName="username" />

  <label>Email:</label>
  <input formControlName="email" />

  <label>Password:</label>
  <input formControlName="password" />
</form>
<div>
  <button (click)="submitForm()" [disabled]="form.invalid">Submit</button>
</div>
